network:
  address: "127.0.0.1:3224"
  idle_timeout: 5m
  max_message_size: "4KB"
  max_connections: 100

wal:
  directory: "./wal"
  flushing_batch_timeout: "10ms"
  flushing_batch_size: 100
  segment_size: "1KB"